<div id="employee" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/employee.less</em>, <em>assets/js/pages/employee.page.js</em>, and
    <em>api/controllers/view-employee.js</em>.)</p>
  Hello <h2>{{fname}}</h2> 
  <button @click.exact="saveClick">click</button>
  <div v-if="fname === 'nidhi'">CLICK performed</div>
  <form>
      <input type="text" id />
  </form>

</div>


<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>